.menu {
	margin-bottom: 25px;
}

.app {
	margin-top: 25px;
}

.pagina {
	border: solid 1px #000000;
	padding: 25px !important;
}

li.list-group-item.active {
	background-color: #0000;
	border-color: #0000;
    border-left:solid 10px #f5f7f5;
	
}

li a {
	color: #ffffff;
	
}

li a:hover {
	text-decoration: none;
}

h4 {
	color: #ffffff !important;
}



